# Основные зависимости для приложения анализа данных
streamlit>=1.49.1
pandas>=2.3.2
matplotlib>=3.10.6
seaborn>=0.13.2
openpyxl>=3.1.5
numpy>=2.3.1

# Дополнительные библиотеки для анализа
plotly>=6.3.0

# Тестирование (опционально)
pytest>=8.4.2
pytest-cov>=7.0.0